.appWrapper{
  background: #ccc;
  display: flex;
  height: 100vh;
}
.appAside{
  width:70px;
  background: #ccc;
  position: relative;
}

.appMain{
  flex: 1;
  background: #eee;
  overflow: auto;
}
